*{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.portfolio{
    margin-top: 40px;
}
.pic_container{
    height: 100px;
    max-width: 200px;
}
.text_box{
    display: inline-block;
}
.body{
    padding-top: 50px;
}
.card-img-top{
    height: 40px;
}