{% extends 'base.html' %}

{% block menu %} {% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="good" class="form-label">Наименование продукта</label>
    <input type="text" name="good" id="good" class="form-control">

    <label for="category" class="form-label">Категория</label>
    <select name="category" id="category" class="form-select">
      {% for category in categories %}

      <option value="{{category.id}}">{{category.category}}</option>

      {%endfor%}
    </select>

    <label for="price" class="form-label">цена</label>
    <input type="text" name="price" id="price" class="form-control">

    <label for="pic" class="form-label">Ссылка на фото</label>
    <input type="text" name="pic" id="pic" class="form-control">

    <label for="description">Описание:</label>
    <textarea name="description" class="form-control" rows="5" id="description"></textarea>

    <input type="submit">

</form>

{% endblock %}