{% extends 'base.html' %}
{% load static %}

{% block menu %}{% endblock %}
{% block content %}
<div class="portfolio">
  <div class="row">
      {% for good in goods %}
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img src="{{good.pic}}" class="card-img-top" alt="good_pic">
              <div class="card-body">
                <h5 class="card-title">{{good.good}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="product/{{good.id}}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

