{% extends 'base.html' %}
{% load static %}

{% block menu %} {% endblock %}

{% block content %}
<div class="body">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{good.pic}}" class="rounded float-start" alt="product_pic">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4>Наименование:</h3>
                    <p>{{good.good}}</p>
                    <h4>Категория:</h3>
                    <p>{{good.category}}</p>
                    <h4>Описание:</h3>
                    <p>{{good.description}}</p>
                    <h4>Цена:</h3>
                    <p>{{good.price}} KZT</p>
                </div>
            </div>
        </div>
    </div>




</div>
{% endblock %}